@import 'App.scss';

.done-title{
    color: $main-green;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: inline-block;
    margin: 40px 0 10px;
}