@import 'App.scss';

.payments-pending{
    .pendings, .rejects{
        max-height: 150px;
        overflow: auto;

        .is-empty-message{
            color: rgba(0,0,0,.4);
            display: inline-block;
            margin: 20px 0;
        }
        .title-payment{ text-align: left; }
    }
    .pendings{
        margin-bottom: 20px;
    }
    .rejects .title-payment{ color: $red; }
}