@import "App.scss";

.alternative-background{
    @include wrap();
    position: fixed;
    background-image: url("../../assets/background-visits.svg");
    background-color: $white;
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    overflow: auto;
    background-attachment: fixed;
}