@import 'assets.scss';

.payments .payment-rejected-reasons{
    .title-payment{
        position: relative;
        color: $dark;
        margin-bottom: 20px;
    }
    .amount{
        color: $main-green;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 30px;
    }
    h4.reject-reason-title{
        color: $red;
        font-weight: 600;
        font-size: 16px;
        text-align: left;
        margin-bottom: 4px;
    }
    .reject-reason{
        border-radius: 7px;
        padding: 8px;
        text-align: left;
        overflow: auto;
        margin-bottom: 10px;    
        line-height: 1.4;
        color: $dark;
    }
}