@import 'assets.scss';

.home-user .visits-home{
    width: 100%;
    padding: 0 15px;
    .card{
        border-radius: 8px;
        padding: 6px 10px;
        .guest{
            display: flex;
            align-items: center;
            img{
                width: 13%;
                border-radius: 50%;
            }
            .name{
                width: 60%;
                padding: 10px;
                font-size: 4.3vw;
                span{ display: block; }
                .date{ 
                    color: #ababab; 
                    font-size: 4vw;
                }
            }
            .status{
                width: 27%;
                border-radius: 4px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                color: $main-green;
                padding: 4px;
                text-align: center;
                font-size: 4.3vw;
                &.active{
                    border: none;
                    background: $main-green;
                    color: #fff;
                }
            }
        }
    }
}

@media (min-width: 360px) {
    .home-user .visits-home .card .guest{
        .name{
            font-size: 16px;
            .date{ font-size: 15px; }
        }
        .status{ font-size: 16px; }
    }
}
