@import 'App.scss';

.standar-come-back-button{
    @include center();
    position: relative;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 40px;
    button, a{
        @include button-configuration();
        @include center();
        text-decoration: none;
        color: $light-blue;
        position: absolute;
        font-size: 30px;
        left: 0px;
        top: 10px;
    }
    i.main-icon{
        font-size: 75px;
        &::before{
            color: $light-blue;
        }
    }
}