@import "App.scss";

.visits{
    h3{
        @include center();
        text-transform: uppercase;
        font-size: 26px;
        letter-spacing: 0.1em;
        color: $white;
        margin: 0 auto;
        padding: 30px;
        width: 85%;
        max-width: 400px;
        position: relative;
        a{
            margin-right: 5px;
            font-size: 30px;
            color: $light-blue;
            position: absolute;
            top: 10px;
            left: 0;
            text-decoration: none;
        }
    }
    .new-guest-link{
        background: $dark-blue-variation;
        border-radius: 20px;
        padding: 10px 10px 10px 20px;
        color: $white;
        text-decoration: none;
        display: flex;
        width: max-content;
        margin: 0 auto 25px auto;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        .info{
            padding-right: 10px;
            h4{
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 600;
                letter-spacing: 1.4px;
            }
            i{
                margin-top: 8px;
                font-size: 50px;
                display: inline-block;
            }
        }
        .arrow{
            @include center();
            padding-left: 15px;
            border-left: 2px solid rgba(255, 255, 255, .3);
            font-size: 30px;
        }
    }
    .access-configuration{
        @include center();
        margin: 15px 30px;
        position: relative;
        a{
            @include button-configuration();
            @include center();
            text-decoration: none;
            color: $light-blue;
            position: absolute;
            font-size: 35px;
            left: 0;
        }
    }
    .standar-card-container{
        padding: 25px 30px;
        .card-title{
            padding-bottom: 20px;
            h4{
                color: $dark-blue-variation;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: .5px;
                display: inline-block;
            }
        }

        .guests{
            // padding-bottom: 30px;
            height: 84%;
        }
    }
    .container{
        height: 100%;
        overflow: auto;
    }
    .alternative-background{
        overflow: hidden;
    }
}