@import 'App.scss';

.payments .payment-detail{

    .title-payment{
        position: relative;
        color: $dark;
        margin-bottom: 30px;
    }

    .reasons{
        margin: 10px 0;
        padding-left: 10px;
        li{
            position: relative;
            padding-left: 13px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            .reason{ color: $dark; }
            .amount{ color: $main-green; }
            &::before{
                @include make-circle(5px);
                content: '';
                background: $purple;
                position: absolute;
                left: 0;
            }
        }
        .total{
            display: flex;
            justify-content: space-between;
            padding-left: 10px;
            margin-top: 10px;
            align-items: flex-end;
            .text{
                font-size: 18px;
                margin-right: 20px;
                font-weight: 600;
                color: $dark;
            }
            .amount{
                color: $main-green;
                font-weight: 600;
                font-size: 20px;
            }
        }
    }

    .upload-button{
        @include button-configuration();
        margin: 10px 0 15px;
        i{
            display: block;
            font-size: 50px;
            margin-bottom: 5px;
            &::before{ color: $main-green; }
        }
        span{
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.1em;
            color: $main-green;
        }
        input[type=file]{
            display: none;
        }
    }
    .files{
        list-style: none;
        text-align: left;
        margin-bottom: 30px;
        li{
            display: inline-block;
            padding: 4px 5px;
            margin: 4px;
            background: #01ad8a1f;
            border-radius: 5px;
            border: 2px solid $main-green;
            font-size: 12px;
            button{
                @include button-configuration;
                margin-left: 10px;
                font-size: 14px;
                color: $main-green;
            }
        }
    }
    textarea{
        width: 100%;
        display: block;
        text-align: left;
        border-color: rgba(0,0,0,.3);
        border-radius: 5px;
        padding: 8px;
        font-size: 16px;
        outline: none;
        margin: 10px 0;
        color: rgba(0, 0, 0, 0.7);
        letter-spacing: 1px;
        background: transparent;
        &:focus{
            border-color: $main-green;
        }
    }
}