@import 'assets.scss';
@import '../styles.scss';

.modal .info-modal{
    width: 90%;
    max-width: 400px;
    padding: 30px 20px;
    background: $white;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.3);
    .icon{
        @include make-circle(80px);
        @include center();
        position: relative;
        margin: 5px auto;
        animation: slidein 1s ease-in-out;
        i{
            font-size: 40px;
        }
    }
    .title{
        position: relative;
        color: #222;
        font-weight: 500;
        font-size: 20px;
        margin: 15px 0;
        animation: slidein 1s ease-in-out;
    }
    .message{
        position: relative;
        color: #222;
        font-size: 16px;
        padding: 5px;
        line-height: 1.5;
        animation: slidein 1s ease-in-out;
        a{ color: #006eff; }
    }
    .buttons{
        position: relative;
        margin-top: 15px;
        animation: slidein 1s ease-in-out;
        button{
            @include button-configuration();
            width: 100%;
            padding: 10px 20px;
            margin: 5px;
            color: $white;
            border: 2px solid;
            font-size: 16px;
            font-weight: 500;
            border-radius: 3px;
        }
    }
    & > div{
        position: relative;
        top: 10px;
        opacity: 0;
    }
    &.show-content > div{
        top: 0;
        opacity: 1;
    }
    &.show-content{
        .icon{
            transition: all 300ms ease-in-out 300ms;
        }
        .title{
            transition: all 300ms ease-in-out 400ms;
        }
        .message{
            transition: all 300ms ease-in-out 500ms;
        }
        .buttons{
            transition: all 300ms ease-in-out 600ms;
        }
    }
    
}

.modal.fade-out{
    animation: fadeout 1s;
}


@keyframes fadeout {
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}