@import "App.scss";

.comments{
    padding-bottom: 10px;
    h4{
        color: $dark;
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        display: inline-block;
    }
    p{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        margin: 30px 0;
        color: $dark;
    }
    [class*=btn-]{
        display: block;
        text-decoration: none;
        margin-bottom: 20px;
    }
}
