@import "App.scss";

.invitations-sent{

    .guests{
        .guest-container{
            padding: 10px;

            .guest{
                display: flex;
                align-items: center;
                img{
                    width: 18%;
                    border-radius: 50%;
                }
                .name{
                    display: block;
                    text-align: left;
                    width: 48%;
                    color: #4a4a4a;
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 8px;
                }


                button{
                    @include button-configuration();
                    background: #e2e2e2;
                    width: 34%;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    padding: 3px 7px;
                    color: $dark-blue-variation;
                    border-radius: 9px;
                    display: flex;
                    align-items: center;
                    span{
                        display: block;
                        width: 80%;
                        font-weight: 600;
                        font-size: 10px;
                        padding-right: 2px;
                    }
                    i{
                        width: 20%;
                        padding-left: 3px;
                        border-left: 1px solid $dark-blue-variation;
                        font-size: 18px;
                    }
                    &.active{
                        background: $dark-blue-variation;
                        color: $white;
                        i{border-left-color: $white;}
                    }
                }
            }   
        }
    }
    .message-empty{
        margin-top: 20px;
    }
}