@import "assets.scss";

@mixin wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal{
    position: fixed;
    @include wrap();
    background: rgba(0,0,0,.3);
    @include center();
    animation: fadeIn .7s;
    z-index: 999;
}

.overlay{
    position: absolute;
    @include wrap();
    z-index: -1;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}