@import "App.scss";

.lateral-menu-container{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9;
    transition: all .6s;
    transform: translateX(-95px);
    &.show{
        transform: translateX(0);
    }
    .open-button-container{
        @include center();
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -9;
        .open-button{
            @include button-configuration();
            @include center();
            @include make-circle(120px);
            justify-content: flex-end;
            box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.25);
            background: #004483;
            color: #fff;
            left: -60px;
            padding: 0 8px;
            font-size: 40px;
            position: absolute;
        }
    }
    .lateral-menu{
        height: 100%;
        background: #00fbc9;
        padding: 50px 0;
        .button-container{
            padding: 25px 10px;
            button, a{
                @include button-configuration();
                @include center();
                @include make-circle(46px);
                font-size: 20px;
                background: #f9f9f9;
                color: #1B1C1E;
                position: relative;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                &::before{
                    content: attr(description);
                    background: #f9f9f9;
                    min-width: 40px;
                    text-transform: uppercase;
                    position: absolute;
                    bottom: -6px;
                    font-size: 7px;
                    font-weight: 700;
                    padding: 2px 3px;
                    border-radius: 10px;
                }
            }
            &.selected{
                position: relative;
                height: 105px;
                button, a{
                    @include make-circle(85px);
                    border: 8px solid #00fbc9;
                    position: absolute;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    color: $light-blue;
                    font-size: 36px;
                    box-shadow: inset 3px -3px 4px rgba(0, 0, 0, 0.25), 
                        inset -3px 3px 5px rgba(0, 0, 0, 0.25);
                    left: 10px;
                    &::before{display: none;}
                }
            }
        }
    }
    .overlay{
        background: rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 2000px;
        z-index: -9;
        animation: fadeIn .6s;
    }
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
