@import "App.scss";

@mixin wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home-user{
    .notifications-button{
        .main-button-container{
            margin-top: 35px;
            .main-button{
                display: inline-block;
                position: relative;
                button{
                    @include button-configuration();
                    @include make-circle(140px);
                    @include center();
                    margin: 0 auto;
                    background: #004483;
                }
                i{font-size: 90px}
                .shadow{
                    @include make-circle(140px);
                    position: absolute;
                    background: linear-gradient(180deg, #004483 43.75%, #001937 100%);
                    box-shadow: -7px 2px 4px rgba(0, 0, 0, .3);
                    z-index: -9;
                    top: 15px;
                }
            }
        }

        .notifications-menu-container{
            position: fixed;
            z-index: 99;
            @include wrap();
            @include center();

            .notifications-menu{
                position: relative;
                @include center();
                width: 220px;
                height: 220px;

                .circle{
                    @include make-circle(150px);
                    background: $light-blue;
                    animation: 1s circle-movement;
                }

                button, a{
                    @include make-circle(80px);
                    @include button-configuration();
                    @include center();
                    text-decoration: none;
                    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.3);
                    position: absolute;
                    background: #004483;
                    z-index: 9;
                    i{
                        font-size: 45px;
                        animation: animate-content .7s;
                    }
                    span{
                        @include make-circle(27px);
                        @include center();
                        font-size: 18px;
                        font-weight: 500;
                        color: #fff;
                        background: $red;
                        position: absolute;
                        top: 0;
                        right: 0;
                        animation: animate-content .7s;
                    }
                }
                .top{
                    top: 0;
                    animation: buttons-movement-top .7s;
                }
                .right{
                    right: 0;
                    animation: buttons-movement-right .7s;
                }
                .left{
                    left: 0;
                    animation: buttons-movement-left .7s;
                }
                .bottom{
                    bottom: 0;
                    animation: buttons-movement-bottom .7s;
                }
            }

            .overlay{
                position: fixed;
                @include wrap();
                background: rgba(0, 0, 0, .3);
                z-index: -9;
            }
        }
    }
}
@keyframes circle-movement {
    0%{transform: scale(.2)}
    33%{transform: scale(.2)}
    50%{transform: scale(1);}
}
@keyframes buttons-movement-top {
    0%{transform: scale(.6) translateY(115px);}
    33%{transform: translateX(0) translateY(0) scale(.6);}
    66%{transform: scale(1)}
}

@keyframes buttons-movement-right {
    0%{transform: scale(.6) translateX(-115px);}
    33%{transform: translateX(0) translateY(0) scale(.6);}
    66%{transform: scale(1)}
}
@keyframes buttons-movement-left {
    0%{transform: scale(.6) translateX(115px);}
    33%{transform: translateX(0) translateY(0) scale(.6);}
    66%{transform: scale(1)}
}
@keyframes buttons-movement-bottom {
    0%{transform: scale(.6) translateY(-115px);}
    33%{transform: translateX(0) translateY(0) scale(.6);}
    66%{transform: scale(1)}
}
@keyframes animate-content {
    0%{opacity: 0;}
    66%{opacity: 0;}
    100%{opacity: 1;}
}

