@import 'App.scss';

.statements{
    .statement{
        background: $main-green;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;
        .statement-header{
            @include button-configuration();
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 15px 10px;
            color: $white;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            .icon{
                transition: .2s;
                &.rotate{
                    transform: rotate(-90deg);
                }
                i{
                    font-size: 18px;
                    &::before{color: $white;}
                }
            }
        }
        .statement-body{
            padding: 0 10px;
            max-height: 0px;
            transition: .5s ease-in-out;
            &.open{ max-height: 1000px; }
            .message{
                background: $white;
                padding: 15px 13px;
                overflow: auto;
                box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                text-align: left;
                line-height: 1.3;
            }
            .button-download{
                @include button-configuration();
                display: block;
                width: 100%;
                padding: 10px;
                i{font-size: 16px;}
            }
        }
    }
}