@import 'assets.scss';

.input-box-light{
    position: relative;
    height: 40px;
    width: 260px;

    input{
        height: 100%;
        width: 100%;
        border: 1px solid rgba(0,0,0,.2);
        padding: 0 15px;
        outline: none;
        font-size: 16px;
        text-align: left;
        border-radius: 8px;
        transition: .4s;
        &:focus{
            border-color: $main-green;
            transition: .4s;
        }
        &:focus ~ label, &:valid ~ label{
            color: $main-green;
            transform: translateY(-29px);
            font-size: 14px;
            transition: .4s;
            background: #fff;
        }
        &:-webkit-autofill { 
            background: #fff;
        }
        &:-webkit-autofill:focus {
            transition: background-color 5000s ease-in-out 0s;
        }
    }
    label{
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        pointer-events: none;
        color: rgba(0,0,0,.6);
        font-size: 16px;
        font-weight: 400;
        transition: .4s;
    }
    .show-password{
        @include button-configuration();
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 15px;
        color: rgba(0,0,0,.5);
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
        box-shadow: 0 0 0px 1000px #ffffff inset !important;;
    }
}
.password input{
    padding-right: 40px;
}