.main-background-user{
    background: linear-gradient(to bottom, #f5f5f5 7%, #01FFCD 80%, #007BB1 110%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}