@import 'App.scss';

.chat-button{
    @include button-configuration();
    @include make-circle(60px);
    @include center();
    background: #004483;
    position: fixed;
    right: 20px;
    bottom: 40px;
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.4);
    i::before{
        font-size: 28px;
    }
}