@import "assets.scss";

.home-user{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    *{ 
        text-align: left; 
        color: $dark;
    }
    h1{
        font-size: 9vw;
        padding: 0 15px;
        margin-top: 20px;
        text-align: left;
        span{ color: $main-green; }
    }
    .sections-slider-container{
        .question{
            padding: 0 15px;
            margin: 30px 0 15px;
        }
    }
    .view-buttons{
        margin: 32px 0 23px;
        display: flex;
        justify-content: center;
        button{
            margin: 0 7px;
            position: relative;
            &.selected{
                color: $main-green;
                &::before{
                    @include make-circle(6px);
                    content: '';
                    background: $main-green;
                    position: absolute;
                    bottom: -10px;
                    left: 47%;
                }
            }
        }
    }
    .view-container{
        border-radius: 30px 30px 0px 0px;
        background: linear-gradient(136deg, #2EBF91 0%, #5C8CAC 67%, #8360C3 100%);
        background-attachment: fixed;
        padding-top: 30px;
        flex: 1 1 auto;
        .card{
            background: $white;
            display: block;
            text-decoration: none;
            margin-bottom: 30px;
        }
        .card.empty{
            padding: 15px;
            text-align: center;
            color: #969698;
            font-size: 4.2vw;
            img{
                height: 90px;
                display: block;
                margin: 0 auto 20px;
            }
            a{
                color: #03a9f4;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 375px) {
    .home-user h1{
        font-size: 34px;
    }
}
