@import 'assets.scss';

.bottom-menu{
    background: #fff;
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);

    button, a{
        @include center();
        text-decoration: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color: #ABABAB;
        &.active{ color: $main-green; }
        span{
            font-size: 3vw;
        }
        i{
            font-size: 8vw;
        }
    }
}

@media (min-width: 360px) {
    .bottom-menu button, .bottom-menu a{
        span{ font-size: 10px; }
        i{ font-size: 30px; }
    }
}
