@import 'App.scss';

.frecuently-asked-questions .question{
    overflow: hidden;
    margin-bottom: 15px;
    .question-header{
        padding: 14px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, .2);
        .question-name{
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 16px;
        }
        span{
            @include button-configuration();
            transition: .3s;
            &.rotate{transform: rotate(-90deg);}
            i{
                font-size: 22px;
                &::before{color: $main-green;}
            }
        }
    }
    .question-body{
        transition: .5s ease-in-out;
        p{
            padding: 10px 4px;
            text-align: left;
            line-height: 1.5;
        }
    }
}