@import 'assets.scss';

.loading-screen{
    @include center();
    @include wrap();
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
    animation: fadeIn .4s;
    
    
    .spinner{
        border: 4px solid #a9a9a9;
        @include make-circle(36px);
        border-top-color: $light-blue;

        animation: spin 1s cubic-bezier(0.38, 0.2, 0.88, 1.01) infinite;
    }
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    0%{transform: rotate(360deg);}
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
