@import "assets.scss";

.qr-screen{
    h3{
        @include center();
        text-transform: uppercase;
        font-size: 26px;
        letter-spacing: 0.1em;
        color: $white;
        margin: 30px auto;
        padding: 0 30px;
        width: 85%;
        max-width: 400px;
        display: flex;
        position: relative;
        a, button{
            @include button-configuration();
            margin-right: 5px;
            font-size: 36px;
            color: $light-blue;
            position: absolute;
            left: 0;
            text-decoration: none;
        }
    }
    .card{
        margin: 70px auto;
        background: #fff;
        max-width: 300px;
        padding: 20px 10px 0;
        border-radius: 6px;
    }
    

    .qr-image{
        border-radius: 30px;
        margin-bottom: 20px;
        width: 85%;
        max-width: 350px;
    }
    .message{
        color: #fff;
        width: 85%;
        max-width: 576px;
        margin: 0 auto;
    }

    .buttons-container{
        max-width: 360px;
        padding: 0 20px;
        margin: 0 auto 30px;
        .btn-primary{
            background: $dark-blue-variation;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            span{
                display: block;
                width: 75%;
                padding-right: 2px;
            }
            .icon{
                display: inline-block;
                width: 25%;
                padding-left: 7px;
                border-left: 1px solid rgba(255, 255, 255, .2);
                i{ font-size: 20px; }
            }
        }
    }
}