@import 'assets.scss';

.events .place-info{
    padding-bottom: 20px;
    *{
        text-align: left;
    }
    .header{
        display: flex;
        align-items: center;
        h4{
            font-size: 20px;
            font-weight: 600;
        }
        p.date{
            font-size: 13px;
            margin-bottom: 10px;
        }
        img{
            width: 50%;
        }
    }
    p.description{
        margin: 20px 0;
    }
    .detail{
        margin: 10px 0;
        display: flex;
        strong{
            width: 120px;
        }
    }
    .bottom-section{
        display: flex;
        align-items: flex-end;
        margin-top: 30px;
        .hours-taken{
            *{
                font-size: 12px;
                color: $red;
            }
        }
        button{
            @include button-configuration();
            text-align: center;
            display: block;
            width: 100%;
            height: max-content;
            background: $main-green;
            color: $white;
            padding: 15px;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
