@import 'assets.scss';

.main-layout{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    & > .content{ 
        height: 83%;
        flex-grow: .9999;
        position: relative;
        background: #fff;
        display: flex;
        flex-direction: column;
        overflow: auto;
        & > .header{
            background: $main-green;
            height: 25%;
            position: relative;
            margin-bottom: 6px;
            padding: 20px 20px 40px;
            .header-content{
                max-width: 360px;
                height: 100%;
                margin: 0 auto;
                position: relative;
                color: #fff;
                h2{
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    letter-spacing: .8px;
                    font-size: 30px;
                    width: 230px;
                    & > div > div { text-align: left; }
                }
                button{
                    @include button-configuration();
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 35px;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .main-section-content{
            flex-grow: 1;
            padding: 6px 0 10px;
            height: 75%;
            & > .content{
                height: 100%;
                max-height: 440px;
                width: 90%;
                margin: 0 auto;
                max-width: 360px;
            }
        }
    }
    .bottom-menu{ height: 9%; }
    .nav-bar-container{ height: 8%; }
}




@keyframes animate {
    0%{ background-position: 0; }
    100%{ background-position: 200px; }
}

@keyframes animate2 {
    0%{ background-position: 0; }
    100%{ background-position: -200px; }
}




.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: url(../../assets/ola.png);
    background-size: 200px 25px;
    &.wave1{ 
        animation: animate 25s linear infinite; 
        z-index: 9;
        opacity: 1;
        animation-delay: 0s;
        bottom: -1px;
    }
    &.wave2{ 
        animation: animate2 10s linear infinite; 
        z-index: 8;
        opacity: .5;
        animation-delay: -5s;
        bottom: 7px;
    }
    &.wave3{ 
        animation: animate 25s linear infinite; 
        z-index: 7;
        opacity: .2;
        animation-delay: -2s;
        bottom: 10px;
    }
}
