.standar-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    & > .content{ 
        overflow: auto; 
        height: 83%;
        position: relative;
        .alternative-background{ 
            position: absolute;
            background-position: center 200%;
        }
    }
    .bottom-menu{ height: 9%; }
    .nav-bar-container{ height: 8%; }
}
