@import 'App.scss';

.menu-button{
    @include center();
    flex-direction: column;
    text-decoration: none;
    padding: 15px;
    height: 45%;
    border: 1px solid #B4B4B4;
    border-radius: 13px;
    span{
        font-family: 'Nunito';
        display: inline-block;
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.1em;
        z-index: 9;
        color: $main-green;
    }
    img{
        z-index: 9;
        font-size: 60px;
        height: 80%;
    }
}
.menu-button.mb{
    margin-bottom: 30px;
}