@import 'App.scss';

.menu-button{
    @include center();
    flex-direction: column;
    text-decoration: none;
    width: 75%;
    border-radius: 20px;
    position: relative;
    padding: 15px 10px 10px 10px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.3);
    span{
        text-transform: uppercase;
        display: inline-block;
        margin-top: 10px;
        font-weight: 600;
        font-size: 9px;
        letter-spacing: 0.1em;
        z-index: 9;
        color: $white;
    }
    i{
        z-index: 9;
        font-size: 60px;
        &::before{
            color: $white;
        }
    }
    &:hover .inner{
        transform: translateY(-50%);
    }
}
.menu-button.mb{
    margin-bottom: 30px;
}